<p id="notice"><%= notice %></p>

<%= search_form_for @search do |form|%>
  <%= form.label :name_cont, "Name Contains"%>
  <%= form.text_field :name_cont %>

  <%= form.label :price_in_cent_gteq, "Name Contains"%>
  <%= form.text_field :price_in_cent_gteq %>

  <%= form.label :price_in_cent_lteq, "Name Contains"%>
  <%= form.text_field :price_in_cent_lteq %>

  <%= form.submit "Search"%>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price in cent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to(product.name, product) %></td>
        <td><%= link_to(product.price_in_dollars, product) %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>

